@charset "UTF-8";
:root {
  --hover-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --bcg: #f5f4fa;
  --border: #ececec;
}

/* Спрятанные заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.second-topic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

img {
  display: block;
}

/* Header */
.header {
  display: flex;
  align-items: center;
}

.header__main {
  border-bottom: 1px solid var(--border);
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo__front {
  color: var(--hover-color);
}

.logo__end {
  color: black;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pages__name {
  margin-right: 50px;
}

.pages__name:last-child {
  margin-right: 0;
}

.pages__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages__link:hover, .pages__link:focus {
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}

.pages__link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--hover-color);
}

.contact__item {
  margin-left: 30px;
}

.contact__item:first-child {
  margin-left: 0;
}

.contact__icon {
  fill: #AFB1B8;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover > .contact__icon,
.contact__link:focus > .contact__icon {
  fill: var(--hover-color);
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #C4C4C4;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__idea {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero__btn {
  display: block;
  font-family: inherit;
  cursor: pointer;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backgrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
}

.backgrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backgrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__close:focus, .btn__close:hover {
  fill: var(--hover-color);
}

.form {
  width: 100%;
  padding: 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  height: 58px;
  box-sizing: border-box;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 0;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: var(--hover-color);
}

.form__input:focus + .form__icon {
  fill: var(--hover-color);
}

.form__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form__text {
  transform: translateY(-4px);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.form__icon {
  position: absolute;
  top: 60%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__area {
  width: 100%;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.form__area:focus {
  border-color: var(--hover-color);
}

.form__area::placeholder {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.license {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 12px;
  margin-bottom: 30px;
}

.license__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.license__checkbox {
  appearance: none;
  position: absolute;
}

.license__checkbox:checked + .license__point {
  background-color: var(--hover-color);
  border: none;
  background-image: url(../img/SVG/icon_check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.license__checkbox:focus + .license__point {
  border-color: var(--hover-color);
}

.license__point {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.license__link {
  color: var(--hover-color);
}

.license__btn {
  display: block;
  font-family: inherit;
  cursor: pointer;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.license__btn:hover, .license__btn:focus {
  background-color: #188ce8;
}

/* Преимущества*/
.excellence {
  padding-top: 94px;
  padding-bottom: 94px;
}

.excellence__list {
  display: flex;
  flex-direction: row;
  color: var(--second-color);
}

.excellence__point {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.excellence__item {
  width: 270px;
  margin-right: 30px;
}

.excellence__item:last-child {
  margin-right: 0;
}

.excellence__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: var(--bcg);
  margin-bottom: 30px;
}

/* Примеры */
.exx {
  padding-bottom: 94px;
}

.exx__list {
  display: flex;
  flex-direction: row;
}

.exx__item {
  position: relative;
  margin-right: 30px;
}

.exx__item:last-child {
  margin-right: 0;
}

.exx__box {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.exx__text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Наша команда */
.team {
  padding-top: 94px;
  background-color: var(--bcg);
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  background-color: var(--white-color);
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__position {
  font-weight: 400;
  color: var(--second-color);
  margin-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;
}

.team__net {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__social {
  margin-right: 10px;
}

.team__social:last-child {
  margin-right: 0px;
}

.team__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background-color: var(--hover-color);
}

.team__link:hover .team__icon,
.team__link:focus .team__icon {
  fill: #ffffff;
}

.klients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.klients__list {
  display: flex;
  flex-direction: row;
}

.klients__item {
  margin-right: 30px;
}

.klients__item:last-child {
  margin-right: 0;
}

.klients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klients__link:hover, .klients__link:focus {
  border: 1px solid var(--hover-color);
}

.klients__link:hover .klients__icon,
.klients__link:focus .klients__icon {
  fill: var(--hover-color);
}

/* footer */
.logo__footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__end--white {
  color: var(--white-color);
}

.address {
  font-style: normal;
  margin-top: 20px;
  width: 231px;
  margin-right: 0;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  background-color: #2F303A;
  color: var(--white-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__item {
  margin-right: 10px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--hover-color);
}

.footer__link:hover .team__icon,
.footer__link:focus .team__icon {
  fill: #ffffff;
}

.subscription {
  margin-left: 93px;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.subscription__field {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  height: 58px;
  box-sizing: border-box;
}

.subscription__form {
  display: flex;
}

.subscription__btn {
  display: block;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__btn:hover, .subscription__btn:focus {
  background-color: #188ce8;
}

.subscription__submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__icon {
  margin-left: 10px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.buttons__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.buttons__filtr {
  margin-right: 8px;
}

.buttons__filtr:last-child {
  margin-right: 0;
}

.buttons__item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  background-color: var(--bcg);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover, .buttons__item:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* PORTFOLIO */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__text {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.portfolio__point {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio__group {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}

.portfolio__shadow {
  position: relative;
  overflow: hidden;
}

.portfolio__idea {
  position: absolute;
  display: block;
  overflow: auto;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__idea,
.portfolio__link:focus .portfolio__idea {
  opacity: 1;
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */