@import "./variables/variables";
// Utils
@import "./utils/visually-hidden";
@import "./base/base";
// Студия
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/modalorder";
@import "./components/excellence";
@import "./components/exx";
@import "./components/team";
@import "./components/klients";
@import "./components/footer";
// Портфолио
@import "./components/buttons";
@import "./components/portfolio";