/* Header */ // 
.header {
display: flex;
align-items: center;
    
    &__main{
 
    border-bottom: 1px solid var(--border); 
    }
}
.nav {
     display: flex;
  align-items: center;
  margin-right: auto;}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    &__front {
        color: var(--hover-color);
    }
    &__end{
        color: $black;
    }
}
// Сторинки сайту
.pages{
    display: flex;
    flex-direction: row;
    align-items: center;

    &__name {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
    }
    
    &__link {
        display: block;
        position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms $way;
    &:hover,
    &:focus {
      
        color: var(--hover-color);
}
}
}
.active {
    color: var(--hover-color);

}
.pages__link.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    
}

// Контакти
.contact {
        display: flex;
        align-items: center;
        margin-left: auto;
       

        &__link {
           
            display: flex;
            align-items: center;
            padding-top: 32px;
            padding-bottom: 32px;
            font-weight: 500;     
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--second-color);
            transition: color 250ms $way;
                
        &:hover,
        &:focus {
          color: var(--hover-color);
            
        }

       
            
        }
    &__item {
    margin-left: 30px;
       &:first-child {
    margin-left: 0;
              
        }    
}
&__icon {
    fill: $icon;
    margin-right: 10px;
    transition: fill 250ms $way;  

}

}

.contact__link:hover > .contact__icon,
.contact__link:focus > .contact__icon {
    fill: var(--hover-color),
  
}