// Головні шріфти
$main-font: 'Roboto', sans-serif;
:root {
// Головні кольори
--hover-color: #2196f3;
--main-color: #212121;
--second-color: #757575;
--white-color: #ffffff;
--bcg: #f5f4fa;
--border: #ececec;
}
$black:rgb(0, 0, 0);
$bcghero: #C4C4C4;
$icon:#AFB1B8;
$bcgfooter:#2F303A;
$footer_icon: rgba(255, 255, 255, 0.1);
$way:cubic-bezier(0.4, 0, 0.2, 1);
$shadow:#EEEEEE;



